* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "MADE Outer Sans Alt", sans-serif;

}


body, html {
  background: #0d0d0d;
  color: #fff;
}



/* == SECTION HEADER == */
.section__outer {
  background-color: #0d0d0d;
  height: 100%;
  position: relative;
  
}
.section__inner {
  position: relative;
  background-color: #0d0d0d;
  margin: 0 auto;
  width: 1440px;

}
img {
  position: relative;
  /* width: 100%; */
  width: 1440px;
  height: 734px;
}

.gradient {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 60%;
}
.eclipse__18 {
  position: absolute;
  width: 1087px;
  height: 1058px;
  top: 700px;
  left: 0;
  z-index: 10;
  opacity: 80%;
}
.polygon {
  position: absolute;
  width: 789px;
  height: 628px;
  top: 817px;
  right: 0;
  z-index: 10;
  opacity: 80%;
}
.eclipse__yellow {
  position: absolute;
  /* width: 1848px; */
  height: 1848px;
  top: 6129px;
  left: 0;
  z-index: 10;
  opacity: 50%;
}

.header__title {
  position: absolute;
  top: 475px;
  left: 135px;

  font-family: "MADE Outer Sans Alt", sans-serif;
}
h1 {
  font-size: 131px;
  line-height: 157px;
  font-weight: 300;
  color: #fff;
}
span {
  font-family: "MADE Outer Sans Alt", sans-serif;
  font-weight: 300;
  color: #7bffc1;
}
.header__subtitle {
  position: relative;
  width: 871px;
  top: 126px;
  left: 142px;
  color: #fff;
}
.header__text {
  font-family: "Inter", sans-serif;
  font-size: 44px;
  font-weight: 300;
  margin-bottom: 100px;
}
.header__metrics {
  position: relative;
  display: flex;
  left: 142px;
  top: 83px;
}
.block__1,
.block__2,
.block__3 {
  position: relative;
  width: 370px;
  height: 370px;
  border: #7bffc143 0.5px solid;
  border-radius: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 26px;
  margin-bottom: 300px;
}
.value,
.metric {
  color: #fff;
  font-family: "Inter", sans-serif;
}
.value {
  font-size: 59px;
  font-weight: 400;
}
.metric {
  font-size: 27px;
  font-weight: 400;
  opacity: 30%;
}
.blocks__desc {
  font-family: "Inter", sans-serif;
  font-size: 27.3px;
  font-weight: 400;
  color: #fff;
  opacity: 30%;

  position: absolute;
  bottom: 144px;
  left: 627px;
}

/* == / SECTION HEADER / == */

/* == MAIN == */
.main__inner {
  position: relative;
  width: 1440px;
  margin: auto;
}
.main__text {
  font-family: "Inter", sans-serif;
  font-size: 44px;
  font-weight: 300;

  margin-top: 83px;
}
.main__subtitle {
  width: 1025px;
  left: 142px;
  position: absolute;
  margin: 0;
}
.main__blocks {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  left: 46px;
  top: 83px;
}
.block__4,
.block__5,
.block__6,
.block__7,
.block__8 {
  position: relative;
  display: flex;
  top: 700px;
  width: 370px;
  height: 370px;
  left: 96px;
  border: #7bffc143 0.5px solid;
  border-radius: 32px;
  margin-right: 30px;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.description {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 298px;
  z-index: 7;
}
.content__7 {
  position: absolute;
  width: 280px;
  height: 229px;
  left: 45px;
  top: 55px;
}
.content__8 {
  position: absolute;
  width: 248px;
  height: 248px;
  left: 60px;
  top: 63px;
}
.city__spb,
.city__msc,
.city__other,
.value__spb,
.value__msc,
.value__other {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.78px;
}
.percent {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.78px;
  opacity: 30%;
}
/* == BLOCK 4 CONTENT 4 == */
.content__4 {
  position: absolute;
  width: 176px;
  height: 176px;
  left: 97px;
  top: 97px;
}
/* == CITY SPB ==*/
.city__spb {
  position: absolute;
  top: 45px;
  left: 36px;
}
.value__spb {
  position: absolute;
  top: 75px;
  left: 36px;
}
.percent__spb {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.78px;
  opacity: 30%;

  position: absolute;
  top: 75px;
  left: 80px;
}
/* == / CITY SPB / ==*/
/* == CITY MOSCOW ==*/
.city__msc {
  position: absolute;
  top: 45px;
  right: 55px;
}
.value__msc {
  position: absolute;
  top: 75px;
  right: 78px;
}
.percent__msc {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.78px;
  opacity: 30%;

  position: absolute;
  top: 75px;
  right: 29px;
}
/* == / CITY MOSCOW / ==*/

/* == CITY OTHER ==*/
.city__other {
  position: absolute;
  bottom: 99px;
  left: 36px;
}
.value__other {
  position: absolute;
  bottom: 73px;
  left: 36px;
}
.percent__other {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.78px;
  opacity: 30%;

  position: absolute;
  bottom: 73px;
  left: 80px;
}
/* == / CITY OTHER / ==*/

/* == BLOCK-5 CONTENT-5 == */
.lines__bar {
  position: absolute;
  width: 228px;
  height: 107px;
  right: 43px;
  top: 110px;
}
.line__msc {
  position: absolute;
  width: 209px;
  height: 24px;
  top: 134px;
  left: 98px;
  z-index: 2;
}
.line__spb {
  position: absolute;
  width: 152px;
  height: 24px;
  top: 171px;
  left: 98px;
  z-index: 2;
}
.axis__line {
  position: absolute;
  width: 259px;
  height: 32px;
  left: 86px;
  top: 239px;
}
.view__msc,
.view__spb {
  font-size: 12px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;

  color: #000;
  z-index: 5;
}
.view__msc {
  position: absolute;
  top: 140px;
  right: 69px;
}
.view__spb {
  position: absolute;
  bottom: 178px;
  right: 126px;
}
.label__msc,
.label__spb {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
.label__msc {
  position: absolute;
  left: 34px;
  top: 138px;
}
.label__spb {
  position: absolute;
  left: 34px;
  top: 178px;
}
/* == / BLOCK-5 CONTENT-5 / == */

/* == BLOCK-6 CONTENT-6 == */
.content__6 {
  position: absolute;
  width: 176px;
  height: 176px;
  left: 97px;
  top: 97px;
}
.label__m,
.label__w {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.m__percent,
.w__percent {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 30%;
}
.label__w {
  position: absolute;
  left: 43px;
  top: 82px;
}
.label__m {
  position: absolute;
  right: 75px;
  bottom: 117px;
}
.w__percent {
  position: absolute;
  left: 65px;
  top: 82px;
}
.m__percent {
  position: absolute;
  right: 25px;
  bottom: 117px;
}
/* == / BLOCK-6 CONTENT-6 / == */

/* == BLOCK-7 CONTENT-7 == */

/* == BLOCK-8 CONTENT-8 == */
.content__8 {
  position: absolute;
  width: 248px;
  height: 248px;
  left: 60px;
  top: 63px;
}

.web__content__8 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.web__percent__8 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 30%;
}
.web__social {
  position: absolute;
  line-height: 25.8px;
  top: 38px;
  left: 28px;
}
.social__percent {
  position: absolute;
  top: 69px;
  left: 110px;
}
.web__search {
  position: absolute;
  line-height: 25.8px;
  top: 38px;
  right: 60px;
}
.search__percent {
  position: absolute;
  top: 69px;
  right: 30px;
}
.web__other {
  position: absolute;
  bottom: 117px;
  left: 26px;
}
.other__percent {
  position: absolute;
  bottom: 91px;
  left: 26px;
}
/* == / BLOCK-8 CONTENT-8 / == */

.container__II {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  top: 700px;
  list-style: none;

}


/* == AUDIENCE INTERESTS ==*/
.audience__title {
  position: absolute;
  font-family: "Inter", sans-serif;
  font-size: 44px;
  font-weight: 300;
  margin-top: 177px;
  left: 95px;
  margin-bottom: 183px;
}

.main__btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  list-style: none;

  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
  background-color: #7BFFC1;
  border: #7bffc143 0.5px solid;
  border-radius: 248px;
  line-height: 35px;
  padding: 11px 30px;
  gap: 11px;
}
.main__btn__invisible {
  display: none;
}
.main__btn__visible {
  position: relative;
  display: flex;
  justify-content: space-between;
  list-style: none;

  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
  background-color: #7BFFC1;
  border: #7bffc143 0.5px solid;
  border-radius: 248px;
  line-height: 35px;
  padding: 11px 30px;
  gap: 11px;
}

.interests__list {
  margin-top: 263px;
  position: absolute;
  display: flex;
  width: 1170px;
  gap: 11px;
  flex-wrap: wrap;
  left: 96px;
  list-style: none;
}
.searches {
  position: absolute;
  font-family: "Inter", sans-serif;
  font-size: 44px;
  font-weight: 300;
  margin-top: 516px;
  left: 96px;
  margin-bottom: 183px;
  list-style: none;
}

li {
  list-style: none;
}

.party__list__left {
  margin-top: 630px;
  position: absolute;
  display: flex;
  list-style: none;
  left: 96px;
}
.main__btn__2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  list-style: none;

  color: #000;
  background-color: #7BFFC1;
  border: 0.5px solid;
  border-radius: 248px;
  line-height: 35px;
  padding: 11px 30px;
  gap: 11px;
  width: 568px;
  margin-bottom: 11px;
}
.party__list__right {
  margin-top: 630px;
  position: absolute;
  left: 698px;
  list-style: none;
}
.reference__search {
  display: flex;
  position: absolute;
  font-family: "Roboto", sans-serif;
  color: #7bffc1;
  font-size: 23px;
  font-weight: 400;
  margin-top: 532px;
  right: 185px;
  margin-bottom: 183px;
  width: 228px;
  list-style: none;
}
.arrow {
  width: 12px;
  height: 12px;
  position: absolute;
 
  left: 555px;
  bottom: 425px;
}

/* == OUR RESOURCES / НАШИ РЕСУРСЫ ==*/

.resources__title {
  position: absolute;
  font-family: "Inter", sans-serif;
  font-size: 44px;
  font-weight: 300;
  margin-top: 1873px;
  left: 95px;
}

.resources__list {
  margin-top: 1370px;
  position: absolute;
  display: flex;
  text-align: center;
  left: 96px;
}
.res__list {
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  list-style: none;
}
.metric__value {
  position: relative;
  color: #fff;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  border: #7bffc143 0.5px solid;
  border-radius: 20px;
  height: 35px;
  width: 66px;
  margin-right: 35px;
  margin-left: 10px;
}
.telegram__left {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 9.78px;
  top: 8.5px;
}
.email__left {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 9.78px;
  top: 8.5px;
}

.arrow__image {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 27px;
  top: 22px;
}
.arrow__image__2 {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 27px;
  top: 22px;
}
.main__btn__big__1,
.main__btn__big__2,
.main__btn__big__3,
.main__btn__big__4 {
  position: relative;
  display: flex;
  justify-content: space-between;

  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;

  border: #7bffc143 0.5px solid;
  border-radius: 248px;
  line-height: 35px;
  padding: 11px 30px;
  gap: 11px;
  width: 1170px;
  margin-bottom: 11px;
  top: 750px;
}
.left {
  display: flex;
  margin: auto 30px;
  gap: 7px;
}
.right {
  font-size: 15px;
  display: flex;
  gap: 5px;
  margin: auto -5px;
}
.right__1,
.right__2 {
  position: absolute;
  font-size: 15px;
  display: flex;
  gap: 5px;
  margin: auto 0;
  right: 60px;
}
.metric__value__r {
  position: relative;
  color: #fff;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  border: #7bffc143 0.5px solid;
  border-radius: 20px;
  height: 35px;
  width: 66px;
  margin-left: 28px;
}
/* == POSSIBILITIES / ВОЗМОЖНОСТИ == */

.container__possibilities {
  position: relative;
  display: flex;
  flex-direction: row;
}
.possibilities__title {
  position: absolute;
  font-family: "Inter", sans-serif;
  font-size: 44px;
  font-weight: 300;
  top: 2600px;
  left: 96px;
  width: 1012px;
}
.block__announcement__1,
.block__announcement__2,
.block__announcement__3,
.block__announcement__4,
.block__announcement__5,
.block__announcement__6 {
  position: relative;
  width: 370px;
  height: 289px;
  border: #7bffc143 0.5px solid;
  border-radius: 32px;
  flex-wrap: wrap;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  top: 2750px;
  left: 0;
}
.announcement {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  width: 1170px;
  left: 96px;
  flex: auto;
}
.value__services {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 300;
}

/* == FOR CLUBS & BARS == */

.container__services {
  position: absolute;
  display: flex;
  flex-direction: row;
}
.clubs__bars__title {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 44px;
  font-weight: 300;
  top: 3500px;
  left: 96px;
  width: 1012px;
}
.block__services__1,
.block__services__2,
.block__services__3 {
  position: relative;
  width: 370px;
  height: 289px;
  border: #7bffc143 0.5px solid;
  border-radius: 32px;
  flex-wrap: wrap;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  top: 3620px;
  left: 312px;
}
.clubs__bars__services {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  width: 1170px;
  left: -215px;
  flex: auto;
}
.value__services {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 300;
}

/* == CONTAINER SERVICES SMALL == */

.container__services {
  position: absolute;
  display: flex;
  flex-direction: row;
}
.block__services__4,
.block__services__5,
.block__services__6,
.block__services__7 {
  position: relative;
  width: 269px;
  height: 309px;
  border: #7bffc143 0.5px solid;
  border-radius: 32px;
  flex-wrap: wrap;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  top: 3938px;
  left: 678px;
}
.clubs__bars__services__sm {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 31px;
  width: 1170px;
  left: -581px;
  flex: auto;
}

/* == OPPORTUNITIES FOR BRANDS == */

.container__brands {
  position: relative;
  display: flex;
  flex-direction: row;
}
.brands__title {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 44px;
  font-weight: 300;
  top: 4320px;
  left: 95px;
  width: 1012px;
}
.block__brands__1,
.block__brands__2,
.block__brands__3 {
  position: relative;
  width: 370px;
  height: 568px;
  border: #7bffc143 0.5px solid;
  border-radius: 32px;
  flex-wrap: wrap;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  top: 4450px;
  left: 358px;
}
.brands__services {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  width: 1170px;
  left: -261px;
  flex: auto;
}

/* == FOOTER LOGO == */

.footer__title {
  position: absolute;
  top: 5880px;
  left: 94px;
  font-family: "MADE Outer Sans Alt", sans-serif;
}
h1 {
  font-size: 131px;
  line-height: 157px;
  font-weight: 300;
  color: #fff;
}
span {
  font-family: "MADE Outer Sans Alt", sans-serif;
  font-weight: 300;
  color: #7bffc1;
}

/* MOBILE FINAL */

@media (max-width: 375px) {
   body, html {
    width: 375px;
   }
   .section__inner {
    position: relative;
    background-color: #0d0d0d;
    margin: 0 auto;
    width: 375px;
  }

  .header__title {
    position: absolute;
    top: 64px;
    width: 322px;
    height: 140px;
    left: 390px;

    font-family: "MADE Outer Sans Alt", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-size: 74px;
    line-height: 67.84px;
    font-weight: 300;
    color: #fff;
    width: 322px;

  }
  span {
    font-size: 69.94px;
    line-height: 71.73px;

    font-family: "MADE Outer Sans Alt", sans-serif;
    font-weight: 300;
    color: #7bffc1;
    display: flex;
    flex-direction: column;
  }
  img {
    position: relative;
    width: 100%;
    width: 1419px;
    height: 767px;
    top: -57px;
    left: -192px;
  }
  .header__subtitle {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 313px;
    height: 204px;
    top: -470px;
    left: 390px;
    color: #fff;
  }
  .header__text {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 300;
  }
   /* == HEADER BLOCKS MOBILE == */
  .block__1,
  .block__2,
  .block__3 {
    position: relative;
    width: 342px;
    height: 249px;
    border: #7bffc143 0.5px solid;
    border-radius: 32px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -540px;
    margin-bottom: 17px;
  }
  .header__metrics {
    position: relative;
    display: flex;
    flex-direction: column;

    left: 380px;
    margin-bottom: -480px;

  }

  .gradient {
    display: none;
  }
  .eclipse__18 {
    display: none;
  }
  .polygon {
    display: none;
  }
  .eclipse__yellow {
    display: none;
  }
     /* == MAIN TEXT == */
  .main__inner {
    position: relative;
    width: 375px;
    margin: 0 auto;
  }
  .main__text {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 300;
  }
  .main__subtitle {
    width: 308px;
    left: 390px;
    position: absolute;
  }
  .blocks__desc {
    display: none;
  }
    /* == MAIN BLOCKS == */
  .block__4,
  .block__5,
  .block__6,
  .block__7,
  .block__8 {
    position: relative;
    display: flex;
    top: 500px;
    width: 343px;
    height: 343px;
    left: 335px;
    border: #7bffc143 0.5px solid;
    border-radius: 29.66px;
    /* margin-right: 30px; */
    margin-bottom: 16px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .lines__bar {
    position: absolute;
    width: 228px;
    height: 107px;
    left: 97px;
    top: 110px;
  }
    /* == AUDIENCE INTERESTS MOBILE == */
  .audience__title {
    position: absolute;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin-top: -130px;
    left: 335px;
    width: 300px;
    /* margin-bottom: 183px; */
  }
  
  .main__btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    list-style: none;
  
    font-family: "Inter", sans-serif;
    font-size: 19px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
    /* background-color: #7BFFC1; */
    border: #7bffc143 0.5px solid;
    border-radius: 248px;
    line-height: 35px;
    padding: 11px 30px;
    gap: 11px;
  }
  
  .main__btn__invisible {
    position: relative;
    display: flex;
    justify-content: space-between;
    list-style: none;
  
    font-family: "Inter", sans-serif;
    font-size: 19px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
    background-color: #7BFFC1;
    border: #7bffc143 0.5px solid;
    border-radius: 248px;
    line-height: 35px;
    padding: 11px 30px;
    gap: 11px;
  }
.main__btn__visible {
  display: none;
}

  .interests__list {
    position: absolute;
    display: flex;
    width: 375px;
    gap: 11px;
    flex-wrap: wrap;
    top: -300px;
    left: 335px;
    list-style: none;
  }
  .reference__search {
    display: flex;
    position: absolute;
    font-family: "Roboto", sans-serif;
    color: #7bffc1;
    font-size: 23px;
    font-weight: 400;
    margin-top: 490px;
    right: -189px;
    margin-bottom: 183px;
    width: 228px;
    list-style: none;
  }

  .arrow {
    width: 13px;
    height: 12px;
    position: absolute;
   
    left: -136px;
    top: -130px;
  }
 .searches {
  display: none;
 }
 .main__btn__2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  list-style: none;

  color: #000;
  background-color: #7BFFC1;
  border: 0.5px solid;
  border-radius: 248px;
  line-height: 35px;
  padding: 11px 30px;
  gap: 11px;
  width: 337px;
  margin-bottom: 11px;
 }
 .party__list__right {
  display: none;
 }
 .party__list__left {
  margin-top: 580px;
  position: absolute;
  display: flex;
  list-style: none;
  left: 334px;
 }
}
